@use '../utilities' as utils;

.header {
  background-color: utils.$dark-purple;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-left: clamp(1rem, 4vw, 10rem);
    padding-right: clamp(1rem, 4vw, 10rem);
    padding-top: clamp(2rem, 0.2vw, 3.5rem);
    padding: clamp(2rem, 0.2vw, 3.5rem) clamp(1rem, 4vw, 10rem);
  }
}
