@use '../utilities' as utils;

.header {
  position: relative;
  overflow: hidden;
  background-color: utils.$ghost-white;
  a {
    display: block;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: clamp(2rem, 0.2vw, 3.5rem) clamp(1rem, 4vw, 10rem);
    align-items: center;
    background-color: utils.$dark-purple;
    @include utils.xl {
      padding-left: calc((100vw - 1120px) / 2);
      padding-right: calc((100vw - 1120px) / 2);
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: utils.$dark-purple;
    @include utils.m {
      padding-bottom: 5vh;
    }
  }
}
