@use '../utilities' as utils;

.header {
  a {
    display: block;
  }

  img {
    display: block;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: clamp(2rem, 0.2vw, 3.5rem) clamp(1rem, 4vw, 10rem);
    align-items: center;
    background-color: utils.$dark-purple;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: utils.$dark-purple;
  }
}
