@use '../utilities' as utils;

.apply-button {
  color: utils.$white;
  text-decoration: none;
  border-bottom: 3px solid utils.$eucalyptus;
  font-weight: 600;
  transition: 0.2s;
  font-size: 1rem;
}
@media (hover: hover) {
  .apply-button:hover {
    color: utils.$eucalyptus;
  }
}
