@use '../utilities' as utils;
@use 'sass:map';

.bg-pattern {
  display: none;
  @include utils.m {
    display: block;
  }

  position: absolute;

  &--1 {
    top: 8%;
    left: 0;
    transform: translateX(-65%);
  }

  &--2 {
    top: 25%;
    right: 0;
    transform: translateX(50%);
    overflow: hidden;
  }
}
