@use '../utilities' as utils;

.curve {
  position: relative;
  overflow: hidden;
  // height: 150px;
  height: 17.5vh;

  &::after {
    border-radius: 100%;
    position: absolute;
    right: -37.5vh;
    left: -37.5vh;
    top: -22.5vh;
    content: '';
    bottom: 0;
  }

  &--purple::after {
    background-color: utils.$dark-purple;
  }

  &--white::after {
    background-color: utils.$ghost-white;
  }
}
