@use '../utilities' as utils;
@use 'sass:map';

.header__text {
  text-align: center;
  max-width: 325px;
  color: utils.$white;
  font-family: fraunces, serif;
  font-weight: map.get(utils.$font-weights, 'heading-s');
  font-size: 2.875rem;
  line-height: 3.25rem;

  &--underline {
    border-bottom: 2px solid utils.$eucalyptus;
  }
}
