@use '../utilities' as utils;
@use 'sass:map';

.invite {
  overflow: hidden;
  color: utils.$white;
  margin-left: 1rem;
  margin-right: 1rem;

  &__image {
    display: block;
    position: relative;
    margin: 0 auto;
    transform: translateY(3.5rem);
    z-index: -1;
    max-width: 85%;
  }

  &__header {
    background-color: utils.$dark-purple;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: utils.$white;
    font-family: fraunces, serif;
    font-weight: map.get(utils.$font-weights, 'heading-s');
    line-height: map.get(utils.$line-heights, 'heading-s');
  }

  &__text {
    margin: 0;
    background-color: utils.$dark-purple;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    color: utils.$white;
    font-family: manrope, sans-serif;
    font-weight: map.get(utils.$font-weights, 'body');
    font-size: map.get(utils.$font-sizes, 'body');
    line-height: map.get(utils.$line-heights, 'body');
  }

  &__button-container {
    background-color: utils.$dark-purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
}
