@use '../utilities' as utils;
@use 'sass:map';

.list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include utils.m {
      flex-direction: row;
      margin: 0 auto;
      gap: 2rem;
      max-width: 575px;
    }
  }

  &__item-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include utils.m {
      align-items: flex-start;
      gap: 1rem;
    }
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid utils.$dark-purple;
    border-radius: 50%;
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    text-align: center;
    color: utils.$dark-purple;
    font-family: fraunces, serif;
    font-weight: map.get(utils.$font-weights, 'heading-s');
    line-height: map.get(utils.$line-heights, 'heading-s');
  }

  &__header {
    color: utils.$dark-purple;
    font-family: fraunces, serif;
    font-weight: map.get(utils.$font-weights, 'heading-s');
    font-size: 1.75rem;
    line-height: map.get(utils.$line-heights, 'heading-s');
    @include utils.m {
      padding-left: 1rem;
      margin: 0;
    }
  }

  &__text {
    color: utils.$dark-purple;
    font-family: manrope, sans-serif;
    font-weight: map.get(utils.$font-weights, 'body');
    font-size: 1rem;
    line-height: map.get(utils.$line-heights, 'body');
    text-align: center;
    @include utils.m {
      text-align: left;
      margin: 0;
    }
    padding: 0 1rem;
  }
}
